        .productTable tr,
        th,
        td {
            border: 2px solid black;
            padding: 10px;
        }
        
        .productTable {
            width: 50%;
        }
        
        .productImg img {
            width: 400px;
            height: 400px;
        }
        
        #inputReview {
            width: 20%;
            height: 100px;
        }
        
        form #subReview {
            margin: 50px;
        }